$("#flashbox").append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>Posted new prompt.</div>');
$("#qb<%= @question.id %>").removeClass("btn-success");
$("#qb<%= @question.id %>").addClass("btn-inverse");
$("#qb<%= @question.id %>").html("Already Posted");

setTimeout(function(){
		$('#flashbox  .alert').hide('fast', function(){ $target.remove(); });
}, 5000);

<% publish_to "/wepict/rooms/prompt/#{@room.id}" do %>
	<% if @room.prompt.empty? %>
		$('#promptbox').hide('fast');
	<% else %>
		$('#promptbox').show('fast');
		$('#promptbox').html('<%= @room.prompt %>');
	<% end %>
<% end %>
