// Remove the current configuration in case it is already configured.
ServiceConfiguration.configurations.remove({
	service: "google"
});

ServiceConfiguration.configurations.insert({
	service: "google",
	clientId: "HIDDEN",
	secret: "HIDDEN"
});
